.reveal span.kbd {
    background-color: #f7f7f7;
    border: 0.1em solid #ccc;
    color: #333;
    line-height: 1.4;
    text-shadow: 0 0.1em 0 #fff;
    font-size: 0.7em;
    line-height: 1.2em;
    font-family: Arial,Helvetica,sans-serif;
    display: inline-block;
    padding: 0.1em 0.2em;
    min-width: 1em;
    text-align: center;
    margin: 0 0.05em;
    white-space: nowrap;
    box-shadow: 0 0.1em 0px #bbb, 0 0 0 0.2em #fff inset;
    border-radius: 0.3em;
    vertical-align: middle;
}

.reveal small.va-i *{
    vertical-align: initial;
}